fastapi==0.115.12
uvicorn[standard]==0.34.2
python-multipart==0.0.20
opencv-python-headless==4.11.0.86
numpy==2.2.5
paddlepaddle==3.2.2
paddleocr==3.7.0
scikit-learn==1.5.2
weasyprint==70.0
python-docx==1.2.0
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.7.0+cpu
torchvision==0.22.0
SQLAlchemy==2.0.40
alembic==1.15.2
psycopg[binary]==3.2.7
asyncpg==0.30.0
fastapi-users[sqlalchemy]==14.0.1
boto3==1.38.13
pydantic-settings==2.9.1
pytest==8.3.5
